/* ページ全体 */

body {
    background-color: #0f1923;
}


/** ヘッダー */

.header__container {
background-color: #0f1923;
display: flex;
justify-content: space-between;
}


.header__nav {
  width: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.nav-item {
}

a{
  color:rgb(25, 240, 180);
text-decoration: none;
}

h1{
  color: chartreuse;
}
.about_descr1ption{
  color: white;
  display: flex;
align-content: center;
}
/* メンバー */
.member-section .members {
}

.sect1on-t1t1e{
  color: chartreuse;

}

.member{
  color: white;
}

.member__1mage .member__1mage{
  width: 180px;
}

/* ゲーム */

/* お問い合わせ */
