/* ページ全体 */

body {
    background-color: #0f1923;
}


/** ヘッダー */

.header__container {
background-color: #0f1923;
display: flex;
justify-content: space-between;
}


.header__nav {
  width: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.nav-item {
}

/* メンバー */
.member-section .members {
}

.member {
}

.member__image img {
}

.member__name {
}

/* ゲーム */

/* お問い合わせ */
